#mc_embed_signup {
    margin-top: 30px;
    background: rgb(0, 0, 0);
    clear: left;
    width: min(100%, 700px);
}

#mc-title {
    font-size: 2em !important;
}

.mc-field-group {
    color: white
}

.subscribe-button{
    background-color: #c85075 !important;
    font-size: 2em !important;
    height: 45px !important;
}

