body,
html {
    height: 100vh;
    /*background-color: rgb(222 182 126);*/
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 25px;
}

section#home {
    padding-top: 40px;
    margin-bottom: 100px;
}

section#socials {
    margin-bottom: 125px;
}

h1,
h2,
h3,
.logo-more-button {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 {
    font-size: 4em;
    color: #ffffff;
    margin: 10 0;
}

h2 {
    font-size: 2em;
    color: #ffffff;
    margin: 10 0;
}

h3 {
    font-size: 1.6em;
    color: #ffffff;
    margin-bottom: 10px;
}

p {
    font-size: 1.4em;
    color: #ffffff;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.top-menu {
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #c86482;
    padding: 5px 0px;
    box-sizing: border-box;
    position: fixed;
    justify-content: center;
    top: 0;
    height: 43px;
}

.top-menu-container {
    width: 95%;
}

.top-menu-button {
    height: 100%;
    font-size: min(1.5em, 5.0vw);
    padding: 0 10;
    transform: scale(1);
    transition: transform 0.3s;
    overflow: visible;
}

.top-menu-button:hover {
    transform: scale(1.1);
}

button,
.button {
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    border-radius: 10px;
    font-size: 2em;
    padding: 10 15;
    background-color: #c85075   ;
    cursor: pointer;
}

.icon-button {
    background-color: #000000a8;
    border-width: 1px;
    color: #c85075;
    cursor: pointer;
    margin: 4 4;
    font-size: 3.5em;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.smaller-icon-button {
    width: 60px;
    height: 60px;
    font-size: 2.5em;
}

.icon-button:hover,
.icon-button:active:hover,
.icon-button:visited:hover {
    background-color: #000000a9;
    color: white;
}

.icon-button:active,
.icon-button:visited {
    color: #c85075;
    background-color: #000000a8;
}

.buy-button,
.buy-button:active,
.buy-button:visited {
    color: #ffffff;
    background-color: #2e6321;
}

.buy-button:hover,
.buy-button:active:hover,
.buy-button:visited:hover {
    background-color: #59c73d;
}

.listen-button,
.listen-button:active,
.listen-button:visited {
    color: #ffffff;
    background-color: #c85075;
}

.listen-button:hover,
.listen-button:active:hover,
.listen-button:visited:hover {
    background-color: #c85075;
}

.bg-image {
    overflow: hidden;
    /* The image used */
    background-image: url("../img/Dématérialisation.jpg");
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.659);
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(5px);
    transform: scale(1.03);
    position: relative;
    /* Full height */
    height: 110vh;
    /* Center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.container {
    overflow: auto;
    top: 43px;
    flex: 1;
    width: 100%;
    height: calc(100vh - 43px);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.logo-image {
    width: min(80%, 700px);
    text-align: center;
    margin-bottom: 30px;
}

.main-image {
    width: min(97%, 1000px);
    border-radius: 30px;
    margin-bottom: 30px;
}

.logo-more-button {
    color: white;
}

.release {
    width: min(80%, 500px);
    text-align: center;
    background-color: #000000d6;
    width: 100%;
    padding-bottom: 100px;
}

.release h1 {
    width: min(80%, 500px);
}

.release-image {
    width: min(80%, 500px);
}

.action-button {
    align-items: center;
    display: flex;
    font-weight: bold;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition: transform 0.3s;
}

.action-button>i {
    font-size: 0.7em;
    margin-right: 10px;
}

.action-button:hover {
    transform: scale(1.1);
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: wrap;
    justify-content: center;
    margin: 0px 50px;
    margin-bottom: 30px;
}

.about {
    width: min(100%, 800px);
}

.about-image {
    width: min(100%, 800px);
    height: 800px;
    background-image: linear-gradient(#e8a35e00 60%, #000000), url('../img/Juste\ les\ gars\ en\ galaxy.jpg');
    background-size: min(100%, 800px);
    background-repeat: no-repeat;
    background-position: bottom;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.about-text {
    width: 100%;
    background-color: #000000;
    color: white;
    margin-top: 0px;
    padding: 10px 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.about-text>p {
    color: white;
}

.show-container{
    width: min(100%, 1000px);
    margin-bottom: 30px;
}

.footer {
    width: 100%;
    background-color: #c86482;
    display: flex;
    flex-direction: row-reverse;
    padding: 10 30;
    margin-top: 100px;
    font-size: x-large;
    box-sizing: border-box;
}

.arrow-down {
    font-size: 4em;
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}